<div class="d-flex align-items-center justify-content-between p-2">
    <span class="fs-4 fw-bold">Add Product</span>
    <i class="bi bi-x-circle close" (click)="activeModal.close(true)"></i>
</div>
<div class="container my-4">
    <form [formGroup]="productForm">
        <!-- Basic Product Info -->
        <div class="mb-4 p-3 border rounded">
            <h4 class="mb-3">Basic Information</h4>
            <div class="row g-3">
                <upload-image 
                    [maxFileSizeMB]="maxFileSize()"
                    [allowedTypes]="allowedFileTypes()"
                    [imageUrl]=" uploadedImages()"
                    (filesSelected)="onFilesSelected($event)"
                    (filesSelected)="onUploadComplete($event)"
                />
                <div class="col-md-6">
                    <label for="name" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name" required>
                    @if(submitted && f['name'].errors) {
                        <div class="text-danger">
                            @if(f['name'].errors['required']) {
                                <div>Product name is required</div>
                            }
                            @if(f['name'].errors['minlength']) {
                                <div>Product name must be at least 3 characters long</div>
                            }
                        </div>
                    }
                </div>
                
                <div class="col-md-6">
                    <label for="brand" class="form-label">Brand</label>
                    <app-single-select
                        formControlName="brand"
                        [options]="brands()" (selectionChange)="selectedBrand($event)"
                        placeholder="Select Brand"
                    />
                    <!-- <select class="form-select" id="brand" formControlName="brand" required>
                        <option>Select a brand</option>
                        @for(brand of brands(); track brand.name){
                            <option [value]="brand.id" >{{ brand.name }}</option>
                        }
                    </select> -->
                    @if(submitted && f['brand'].errors) {
                        <div class="text-danger">
                            @if(f['brand'].errors['required']) {
                                Brand is required
                            }
                        </div>
                    }
                </div>
                
                <div class="col-md-6">
                    <label for="category" class="form-label">Category</label>
                    <app-single-select
                        formControlName="category"
                        [options]="categories()" (selectionChange)="selectedCategory($event)"
                        placeholder="Select Category"
                    />
                    @if(submitted && f['category'].errors) {
                        <div class="text-danger">
                            @if(f['category'].errors['required']) {
                                Category is required
                            }
                        </div>
                    }
                </div>

                <div class="col-md-6">
                    <label for="pincode" class="form-label">Pincode</label>
                    <app-multiple-select
                        formControlName="pincode"
                        [options]="pincodes()" [prepopulate]="prepopulate()" (selectionChange)="selectedCategoryId($event)"
                        placeholder="Select Pincode"
                    />
                </div>
                @if(serviceChargeFlag()) {
                    <div class="col-md-6">
                        <label for="model" class="form-label">Product install Charges</label>
                        <input type="text" class="form-control" id="model" formControlName="serviceCharge">
                    </div>
                }
                
                
                <div class="col-md-6">
                    <label for="subCategory" class="form-label">Sub Category</label>
                     <app-single-select
                        formControlName="subCategory"
                        [options]="subCategory()" (selectionChange)="selectedSubCategory($event)"
                        placeholder="Select Sub Category"
                    />
                    @if(submitted && f['subCategory'].errors) {
                        <div class="text-danger">
                            @if(f['subCategory'].errors['required']) {
                                Sub Category is required
                            }
                        </div>
                    }
                </div>
                
                <div class="col-md-6">
                    <label for="model" class="form-label">SKU</label>
                    <input type="text" class="form-control" id="model" formControlName="model" required>
                    @if(submitted && f['model'].errors) {
                        <div class="text-danger">
                            @if(f['model'].errors['required']) {
                                Model is required
                            }
                        </div>
                    }
                </div>

                <div class="col-md-6">
                    <label class="form-label d-block">Status</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="status" formControlName="status">
                        <label class="form-check-label" for="status">
                            {{ productForm.get('status')?.value ? 'Active' : 'Inactive' }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        
     
        
        <!-- Pricing & Stock -->
        <div class="mb-4 p-3 border rounded">
            <h4 class="mb-3">Pricing & Inventory</h4>
            
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">₹</span>
                        <input type="number" class="form-control" min="0" id="price" formControlName="price" required>
                    </div>
                    @if(submitted && f['price'].errors) {
                        <div class="text-danger">
                            @if(f['price'].errors['required']) {
                                <div>Price is required</div>
                            } 
                            @if(f['price'].errors['min']) {
                                <div>Price must be positive</div>
                            }
                            @if(f['price'].errors['numberOnly']) {
                                <div>Only number allowed</div>
                            }
                        </div>
                    }
                </div>
                
                <div class="col-md-6">
                    <div class="d-flex align-items-center">
                        <label class="form-label d-block">Inventory Tracker</label>
                        <!-- <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="stockStatus" formControlName="stockStatus">
                            <label class="form-check-label" for="stockStatus">
                                {{ productForm.get('stockStatus')?.value ? 'Active' : 'Inactive' }}
                            </label>
                        </div> -->
                    </div>
                    <!-- @if(!productForm.get('stockStatus')?.value) {
                        <div class="">
                            <input type="number" class="form-control" min="1" id="stock" formControlName="stock" required>
                        </div>  
                    } @else { -->
                    <div>
                        <select class="form-select" id="stock" formControlName="stock" required>
                            @for(stock of productStock(); track stock){
                                <option [value]="stock.value" [defaultSelected]="stock.value === productForm.get('stock')?.value">{{ stock.label }}</option>
                            }
                        </select>
                    </div>
                    <!-- } -->
                    @if(submitted && f['stock'].errors) {
                        <div class="text-danger">
                            @if(f['stock'].errors['required']) {
                                <div>Stock is required</div>
                            }
                            @if(f['stock'].errors['min']) {
                                <div>Stock must be positive</div>
                            }
                        </div>
                    }
                </div>
                
                <div class="col-md-6">
                    <label for="weight" class="form-label">Product Weight <span class="">(Centimeters)</span></label>
                    <div class="input-group">
                        <input type="number" class="form-control" min="0" id="weight" formControlName="weight" required>
                    </div>
                    @if(submitted && f['weight'].errors) {
                        <div class="text-danger">
                            @if(f['weight'].errors['required']) {
                                <div>Product Weight is required</div>
                            }
                            @if(f['weight'].errors['min']) {
                                <div>Product Weight must be positive</div>
                            }
                        </div>
                    }
                </div>
                
                <div class="col-md-6">
                    <label for="length" class="form-label">Product Length <span class="">(Centimeters)</span></label>
                    <div class="input-group">
                        <input type="number" class="form-control" min="0" id="length" formControlName="length" required>
                    </div>
                    @if(submitted && f['length'].errors) {
                        <div class="text-danger">
                            @if(f['length'].errors['required']) {
                                <div>Product Length is required</div>
                            }
                            @if(f['length'].errors['min']) {
                                <div>Product Length must be positive</div>
                            }
                        </div>
                    }
                </div>
                
                <div class="col-md-6">
                    <label for="height" class="form-label">Product Height <span class="">(Centimeters)</span></label>
                    <div class="input-group">
                        <input type="number" class="form-control" min="0" id="height" formControlName="height" required>
                    </div>
                    @if(submitted && f['height'].errors) {
                        <div class="text-danger">
                            @if(f['height'].errors['required']) {
                                <div>Product Height is required</div>
                            }
                            @if(f['height'].errors['min']) {
                                <div>Product Height must be positive</div>
                            }
                        </div>
                    }
                </div>
                
                <div class="col-md-6">
                    <label for="width" class="form-label">Product Width <span class="">(Centimeters)</span></label>
                    <div class="input-group">
                        <input type="number" class="form-control" min="0" id="width" formControlName="width" required>
                    </div>
                    @if(submitted && f['width'].errors) {
                        <div class="text-danger">
                            @if(f['width'].errors['required']) {
                                <div>Product Width is required</div>
                            }
                            @if(f['width'].errors['min']) {
                                <div>Product Width must be positive</div>
                            }
                        </div>
                    }
                </div>
            </div>
            
            <!-- Offer Price -->
            <div class="my-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="mb-0">Offer Price</h4>  
                    <button type="button" class="btn btn-primary" (click)="addOfferPrice()">
                        <i class="bi bi-plus"></i> Add Price
                    </button>
                </div>
                
                <div formArrayName="offerPrice">
                    @for(item of offerPrice.controls; track item; let i = $index) {
                        <div [formGroupName]="i" class="mb-4 border rounded position-relative">
                            <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2" (click)="removeOfferPrice(i)">
                                <i class="bi bi-trash"></i>
                            </button>
                            
                            <div class="row g-3 p-3">
                                <div class="col-md-6">
                                    <label class="form-label">Quantity</label>
                                    <input type="number" class="form-control" formControlName="quantity">
                                   
                                </div>
                                
                                <div class="col-md-6">
                                    <label class="form-label">Price</label>
                                    <input type="number" class="form-control" formControlName="price">
            
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        
        <!-- Variants -->
        <div class="mb-4 p-3 border rounded">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="mb-0">Product Variants</h4>
                <button type="button" class="btn btn-primary" (click)="addVariant()">
                    <i class="bi bi-plus"></i> Add Variant
                </button>
            </div>
            
            <div formArrayName="variants">
                @for(variant of variants.controls; track variant; let i = $index) {
                    <div [formGroupName]="i" class="mb-4 p-3 border rounded position-relative">
                        <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2" (click)="removeVariant(i)">
                            <i class="bi bi-trash"></i>
                        </button>
                        
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label">Variant Name</label>
                                <input type="text" class="form-control" formControlName="variantName">
                                
                            </div>
                            
                            <div class="col-md-6">
                                <label class="form-label">SKU</label>
                                <input type="text" class="form-control" formControlName="sku">
                                
                            </div>
                            
                            <div class="col-md-6">
                                <label class="form-label">Price</label>
                                <div class="input-group">
                                    <span class="input-group-text">₹</span>
                                    <input type="number" class="form-control" formControlName="price">
                                </div>
                                
                            </div>
                            
                            <div class="col-md-6">
                                <label class="form-label">Stock</label>
                               <div>
                                    <select class="form-select" id="stock" formControlName="stock" required>
                                        @for(stock of productStock(); track stock){
                                            <option [value]="stock.value" [defaultSelected]="stock.value === productForm.get('stock')?.value">{{ stock.label }}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <upload-image 
                                    [maxFileSizeMB]="maxFileSize()"
                                    [allowedTypes]="allowedFileTypes()"
                                    [imageUrl]=" variantImages()"
                                    (filesSelected)="onFilesSelected($event)"
                                    (filesSelected)="onUploadComplete($event, false)"
                                />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- Description & Key Features -->
        <div class="mb-4 p-3 border rounded">
            <h4 class="mb-3">Description</h4>
            <!-- <textarea class="form-control" rows="4" formControlName="description" required></textarea> -->
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
            <ngx-editor
                [editor]="editor"
                formControlName="description"
                [placeholder]="'Write an engaging product description...'"
                class="rounded p-2"
            ></ngx-editor>
            @if(submitted && f['description'].errors) {
                <div class="text-danger">
                    @if(f['description'].errors['required']) {
                        Description is required
                    }
                </div>
            }
        </div>

            <!-- Specification -->
            <div class="my-4 p-3 border rounded">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="mb-0">Specifications</h4>
                    <button type="button" class="btn btn-primary" (click)="addSpecification()">
                        <i class="bi bi-plus"></i> Add Specification
                    </button>
                </div>
                
                <div formArrayName="specifications">
                    @for(spec of specifications.controls; track spec; let i = $index) {
                        <div [formGroupName]="i" class="mb-4 p-3 border rounded position-relative">
                            <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2" (click)="removeSpecification(i)">
                                <i class="bi bi-trash"></i>
                            </button>
                            
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" formControlName="name">
                                    @if(submitted && spec.get('name')?.errors) {
                                        <div class="text-danger">
                                            @if(spec.get('name')?.errors?.['required']) {
                                                Name is required
                                            }
                                        </div>
                                    }
                                </div>
                                
                                <div class="col-md-6">
                                    <label class="form-label">Value</label>
                                    <input type="text" class="form-control" formControlName="value">
                                    @if(submitted && spec.get('value')?.errors) {
                                        <div class="text-danger">
                                            @if(spec.get('value')?.errors?.['required']) {
                                                <div>Value is required</div>
                                            }
                                            @if(spec.get('value')?.errors?.['min']) {
                                                <div>Value must be positive</div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        <!-- Warranty -->
        <div class="mb-4 p-3 border rounded">
            <h4 class="mb-3">Warranty Information</h4>
            <div formGroupName="warranty">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Warranty Period</label>
                        <input type="number" class="form-control" formControlName="period">
                        @if(submitted && f['warranty'].get('period')?.errors) {
                            <div class="text-danger">
                                @if(f['warranty'].get('period')?.errors?.['required']) {
                                    <div>Warranty period is required</div>
                                }
                            </div>
                        }
                    </div>
                    
                    <div class="col-md-6">
                        <label class="form-label">Warranty Type</label>
                        <input type="text" class="form-control" formControlName="type">
                        @if(submitted && f['warranty'].get('type')?.errors) {
                            <div class="text-danger">
                                @if(f['warranty'].get('type')?.errors?.['required']) {
                                    <div>Warranty type is required</div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Submit Button -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary btn-lg" (click)="proccedNext()">Save Product</button>
        </div>
    </form>
</div>