<!-- <div class="layout-container" [class.sidebar-collapsed]="isSidebarCollapsed()">
  <app-sidebar [collapsed]="isSidebarCollapsed()"></app-sidebar>
  <div class="main-content">
    <app-header 
      [isCollapsed]="isSidebarCollapsed()"
      (toggleSidebar)="toggleSidebar()">
    </app-header>
    <div class="content-wrapper">
      <router-outlet/>
    </div>
  </div>
</div> -->
<div class="main-layout">
<app-sidebar [collapsed]="sidebarCollapsed()" (toggleSidebar)="toggleSidebar()" />
  <div class="main-content" [ngClass]="{'collapsed': sidebarCollapsed()}">
    <div class="top-bar">
      <!-- <div class="toggle-sidebar" (click)="toggleSidebar()">
        <i class="bi" [ngClass]="sidebarCollapsed() ? 'bi-list' : 'bi-x-lg'"></i>
      </div> -->
      <div class="search-bar">
          <i class="bi bi-search"></i>
        <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (keyup.enter)="onSearch()" />
      </div>
      <div class="top-bar-actions">
        <div class="action-item">
          <i class="bi bi-bell notification-icon"></i>
          <span class="badge">4</span>
        </div>
         <div class="action-item">
          <i class="bi bi-envelope message-icon"></i>
          <span class="badge">4</span>
        </div>
        <div class="user-dropdown">
          <img src="" alt="">
          <span>Admin</span>
          <i class="bi bi-chevron-down"></i>
        </div>
      </div>
    </div>
    <div class="content-container">
          <router-outlet/>
    </div>
  </div>
</div>