<div class="container-fluid py-4">
  <div class="row">
    <div class="card-header d-flex justify-content-between align-items-center mb-4">
        <h5 class="mb-0">Manage Coupons</h5>
        <button class="btn btn-primary float-end"  (click)="addCoupon()">
             Add New Coupon
        </button>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="fw-bold">Code</th>
                  <th class="fw-bold">Discount</th>
                  <th class="fw-bold">Valid From</th>
                  <th class="fw-bold">Valid To</th>
                  <th class="fw-bold">Actions</th>
                </tr>
              </thead>
              <tbody>
                @for (coupon of coupons(); track coupon._id) {
                  <tr>
                    <td>{{ coupon.code }}</td>
                    <td>{{ coupon.discount }} {{coupon.discountType === 'percentage' ? '%' : '₹'}}</td>
                    <td>{{ coupon.startDate | date:'mediumDate' }}</td>
                    <td>{{ coupon.expiryDate | date:'mediumDate' }}</td>
                    <td>
                      <button class="btn btn-sm btn-danger" (click)="couponService.deleteCoupon(coupon.id)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="5" class="text-center">No coupons found</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
