
<div class="d-flex align-items-center justify-content-between p-2">
    <span class="fs-4 fw-bold">Add Sub Category</span>
    <i class="bi bi-x-circle close"  (click)="activeModal.close(true)"></i>
</div>
<hr>
 <form [formGroup]="subCategoryForm" novalidate>
    <div class="modal-body">
    <div class="row g-3">
        <!-- Brand Selection -->
        <div class="col-md-6">
        <label for="brandSelect" class="form-label">Category</label>
        <select class="form-select" formControlName="category" id="brandSelect" 
                [class.is-invalid]="subCategoryForm.get('category')?.invalid && subCategoryForm.get('category')?.touched">
            <option value="" disabled selected>Select Category</option>
            @for (category of categories(); track category?.id) {
            <option [value]="category?.id">{{ category.name | uppercase }}</option>
            }
        </select>
        @if (subCategoryForm.get('category')?.invalid && subCategoryForm.get('category')?.touched) {
            <div class="invalid-feedback">
            Please select a category
            </div>
        }
        </div>

        <!-- Name Field -->
        <div class="col-md-6">
        <label for="name" class="form-label">Sub Category Name</label>
        <input type="text" class="form-control" id="name" 
                formControlName="name"
                [class.is-invalid]="subCategoryForm.get('name')?.invalid && subCategoryForm.get('name')?.touched"
                placeholder="e.g. Electronics">
        @if (subCategoryForm.get('name')?.errors?.['required'] && subCategoryForm.get('name')?.touched) {
            <div class="invalid-feedback">Sub Category name is required</div>
        }
        @if (subCategoryForm.get('name')?.errors?.['minlength'] && subCategoryForm.get('name')?.touched) {
            <div class="invalid-feedback">Minimum 3 characters required</div>
        }
        </div>
        <div class="col-md-6">
                <label for="serviceCharges" class="form-label">Service charges</label>
                <input type="number" class="form-control" id="serviceCharges" formControlName="serviceCharges" placeholder="e.g. 100"/>
                 <!-- [class.is-invalid]="subCategoryForm.get('serviceCharges')?.invalid && subCategoryForm.get('serviceCharges')?.touched" -->
        </div>
        <!-- Status Field -->
        <div class="col-md-6">
            <label class="form-label">Status</label>
            <div class="btn-group w-100" role="group">
                @for (item of statusMenu(); track item?.value) {
                    <input type="radio" class="btn-check" id="status{{item?.value}}" [value]="item.value" formControlName="isActive">
                    <label class="btn" for="status{{item?.value}}" [ngClass]="item?.value === true ? 'btn-outline-success' : 'btn-outline-danger'">{{item?.label}}</label>
                }
            </div>
        </div>
    </div>
    </div>

    <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="procced()" [disabled]="subCategoryForm.invalid || isLoading()">
        @if (isLoading()) {
        <span class="spinner-border spinner-border-sm me-2" aria-hidden="true"></span>
        <span>{{ editMode() ? 'Saving...' : 'Creating...' }}</span>
        } @else {
        {{ editMode() ? 'Save Changes' : ' Create Sub category' }}
        }
        <span class="visually-hidden">category</span>
    </button>
    </div>
</form>
