<div class="page-container">
<div class="d-flex align-items-center justify-content-between p-2">
    <span class="fs-4 fw-bold">Add Product</span>
    <i class="bi bi-x-circle close" (click)="activeModal.close(true)"></i>
</div>
  <!-- 🔎 SEARCH PRODUCT -->
  <section class="section-box">
    <h4 class="section-title">Search Product</h4>
    <input type="text" class="form-control" placeholder="Search product..." [value]="searchText()"
      (input)="searchText.set($any($event.target).value || '')"/>
    @if (filteredProducts().length > 0) {
    <div class="product-list">
        @for (item of filteredProducts(); track $index) {
            <div class="product-item" [class.active]="selectedProduct()?._id === item._id"
                (click)="selectedProduct.set(item)"
            >  {{ item.name }} </div>
         }
    </div>
    } @else {
        <div class="no-data">
             No products found
        </div>
    }
  </section>

  <!-- SELECTED PRODUCT -->
   @if(selectedProduct()) {
    <section class="section-box">
        <h4 class="section-title">Selected Product</h4>

        <div class="selected-product">
        {{ selectedProduct().name }}
        </div>
    </section>
    }

  <!-- 🔑 ADD MULTIPLE ANTIVIRUS KEYS (REACTIVE FORM) -->
    @if(selectedProduct()) {
        <section class="section-box">

            <h4 class="section-title">Add Antivirus Keys</h4>

            <form [formGroup]="keyForm">

            <!-- Add Key Button -->
            <button type="button" class="btn btn-primary mb-3" (click)="addKeyRow()">
                + Add Key
            </button>

            <!-- Dynamic Rows -->
            <div formArrayName="keys">
                @for (item of keysArray.controls; track $index) {
                <div [formGroupName]="$index" class="key-row">
                    <input type="text" class="form-control" placeholder="Enter antivirus key"formControlName="key" />
                    <button type="button" class="remove-btn" (click)="removeKeyRow($index)"> ✕</button>
                </div>
            }   
            </div>

            </form>
        </section>
    }
  <!-- FINAL SAVE BUTTON -->
   @if(keysArray.length > 0) {
    <div class="save-wrap">
        <button class="btn btn-success save-btn" (click)="saveAll()">
        Save Keys
        </button>
    </div>
    }

</div>
